$label-size: 1.5em;
$label-font: Verdana, Geneva, sans-serif;

$primary-color: #1f77b4;
$secondary-color: #aec7e8;
$tertiary-color: #c7c7c7;
$background-color: white;

$success-color: #2ca02c;
$warning-color: #ff7f0e;
$error-color: #d62728;
