@import 'variables';

@mixin node-color($color, $background: $background-color) {
  > .content {
    stroke: $color;
    fill: $background;
  }
  > .decoration {
    fill: $color;
  }
  > .value-decoration {
    stroke: $color;
  }
}

.tree {
  background-color: $background-color;
  cursor: move;
  width: 100%;
  height: 100%;

  .menu {

    .text {
      fill: $background-color;
      padding: .2em;
    }

    .action {
      cursor: pointer;
    }

    .background {
      width: 3em;
      height: 3em;
      margin-right: 1em;
      fill: $primary-color;
      stroke: $primary-color;
      stroke-width: 3px;
    }
  }

  .node {
    position: relative;
    cursor: pointer;
    @include node-color($secondary-color);

    > .text, > .value {
      font-size: $label-size;
      font-family: $label-font;
      dominant-baseline: ideographic;
      text-anchor: start;
    }

    > .value {
      dominant-baseline: hanging;
      stroke: $tertiary-color;
    }

    > .content {
      padding: 1em 1.5em;
      stroke-width: 2px;
    }

    > .decoration {
      width: 0.5em;
    }

    > .value-decoration {
      stroke-width: 2px;
    }
  }

  .node.leaf {
    @include node-color($primary-color);
  }

  .node.menu-origin {
    opacity: 0.5;
    @include node-color($warning-color);
  }

  .drag-in-progress {

    .node:not(.droppable) {
      transition: opacity 500ms;
      opacity: 0.2;
    }

    .node.dragged {
      opacity: 0.7;
      pointer-events: none;
    }

    .droppable.selected {
      @include node-color($success-color);
    }
  }

  .link {
    fill: none;
    stroke: $tertiary-color;
    stroke-width: 2px;
  }

}
